body{
    background-color: #000000;
    color: #ffffff;

    font-family: 'Bitter', serif;
}
body::before{
    content: "";
    background-image: url(../img/desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.cabecalho{
    display: flex;
    justify-content: center;
}

.selecao-de-personagens{
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
justify-content: center;
}

.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap; /* quebra para baixo os itens */
    gap: 30px;
    justify-content: center;
}

.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap:25px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 20px;
        letter-spacing: 4px;
        text-transform: uppercase;
        border-bottom: 2px solid #ff2500;
        width: 100%;
        text-align: center;
    }

    .lista-de-personagens .personagem img{
        width: 100%;
        height: 100%;
    }

    .lista-de-personagens .personagem.selecionado{
        box-shadow: 0px 0px 24px 5px #ff2500;
    
    
    }

    .personagem-selecionado{
        text-align: center;
        max-height: 530px;
        margin-top: -50px;
        
        }

        .personagem-selecionado .personagem-grande{
          height: 311px;
    width: 207px; 
    /*width: 167px;
    height: 301px; giff*/
    
        }

        .personagem-selecionado .nome-personagem{
            border-bottom: 2px solid #ff2500;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        .personagem-selecionado .descricao-personagem{
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-top: 20px;
            width: 420px;
        }

